.red{color:#ce2029}.gray{color:#616161;font-size:30px}.user_box{width:700px;background:#FFF;padding-bottom:20px;top:30%;left:43%;position:fixed;z-index:99999;margin-left:-225px;}.user_tit{height:47px;background:#222;padding:0
19px 0 22px}.user_tit
h2{float:left;line-height:47px;font-size:18px;color:#FFF}.user_tit
span{float:right;width:18px;height:17px;margin-top:15px;display:block;background:url(/fahao/img/close_icon.gif) no-repeat;text-indent:-9999px;cursor:pointer}.user_tit span
a{display:block;width:18px;height:18px}.user_con{padding:22px
0 31px 0;color:#222}.user_con
h3{height:16px;line-height:16px;margin:32px
0 17px 0;font-size:16px;border-left:5px solid #ce2029;padding-left:8px;margin-left:60px}.user_con
dl{height:35px;padding-bottom:10px;width:450px}.user_con
dt{width:85px;float:left;height:35px;line-height:35px;display:block;text-align:right;padding-right:12px}.user_con
dd{height:35px;float:left;width:350px;display:block}.user_con dd
span{line-height:35px;padding-left:10px;float:left}.user_con
p{width:350px;padding:4px
0 4px 97px}.user_con_box{overflow:hidden;padding:0
0 30px 104px;width:335px;margin-top:-20px}.user_con_box span
a{float:left;width:78px;height:109px;display:block;background:url(/fahao/images/qqlogin.gif) no-repeat;text-indent:-9999px}.user_con_box
p{float:left;padding:31px
0 0 56px;font-size:14px;width:130px}.user_kw180{width:180px;height:33px;line-height:33px;border:1px
solid #e6e6e6;padding:0
11px;float:left;color:#cbcbcb}.user_kw114{width:114px;height:33px;line-height:33px;border:1px
solid #e6e6e6;padding:0
11px;float:left;color:#cbcbcb}.user_jz{margin-right:5px}.userlogin{width:90px;height:30px;background:#222;font-size:14px;color:#FFF;border:none;cursor:pointer;margin:9px
0 0 97px;font-family:"微软雅黑","宋体"}.userlogin:hover{background:#ce2029}.user_btm{width:335px;margin-left:56px;border-top:1px dotted #ccc;padding-left:4px;overflow:hidden}.user_btm
h3{height:16px;line-height:16px;margin:35px
0 22px 0;font-size:16px;border-left:5px solid #ce2029;padding-left:8px}.login_qq{width:108px;height:30px;background:url(/fahao/images/user_login_qq.gif) no-repeat;margin-right:33px;display:block;text-indent:-9999px;float:left}.remind{width:660px;border-top:1px dotted #ccc;padding:20px;}.remind
h4{font-size:14px;color:#ce2029;line-height:36px}.remind p{font-size:16px;line-height:26px}.remind
.tips{border:1px solid #e9e9e9;width:617px;font-size:20px;padding:20px;margin:10px 0 10px 0;background:#fcfcfc;line-height:20px}.getcoin{width:120px;height:30px;background:#ce2029;font-size:14px;color:#FFF;border:none;cursor:pointer;margin:10px
0 0 37px;font-family:"微软雅黑","宋体"}
.tips p{font-size:26px;color:#2092ce;}
.remind h2{font-weight:bold;}
.user{height:37px;padding:22px 0 21px;width:260px}