.pageNav-bg-left{background:#fe4936}.Navmain
.search_box{border:1px
solid #fe4936}.Navmain .logo:before{border-color:transparent transparent transparent #fe4936}.Navmain .logo
a{background-color:#fe4936}.Navmain .user li
a{background:url(/fahao/img/fh_tips.png) no-repeat;text-indent:-99em;_background-image:url(/fahao/img/fh_tips.gif)}.Navmain .user .user-login
dl{color:#fe4936}.Navmain .user .user-login dl
a{color:#fe4936}.Navmain .user .user-login
dt{border-color:#fe4936}.sech_btn{background:#fe4936 url(/fahao/img/fh_tips.png) no-repeat -139px -179px;_background-image:url(/fahao/img/fh_tips.gif)}.search_list{border-color:#fe4936}.search_list li:hover{background:#fe4936}.menuNav li a:hover{color:#fe4936}.m{width:1200px;margin:0
auto}.page_bd_lf{float:left;width:860px;padding-right:20px}.page_bd_rt{float:right;width:320px}.slide{position:relative;height:311px;margin-top:20px}.s_page{overflow:hidden;height:311px;*position:relative}.s_page
li{float:left}.sp_img{width:590px;height:311px}.sp_img
img{display:block;width:590px;height:311px}.sp_art{width:270px;height:311px}.art_box{position:relative;width:230px;height:250px;border:solid #fe4936;border-width:20px 20px 41px;background:#ffd12a}.package_img{position:absolute;top:12px;left:50%;width:100px;height:131px;margin-left:-50px;background:url(/fahao/img/tips.gif) no-repeat -130px 0}.package_img
span{display:block;overflow:hidden;width:84px;height:84px;margin:40px
8px 0 8px;*padding:40px
8px 0 8px;border-radius:42px}.package_img
img{display:block;width:90px;height:90px;margin:-3px 0 0 -3px}.package_img
.icon_ie{position:absolute;top:37px;left:5px;display:none;width:90px;height:90px;background:url(/fahao/img/icon_ie2.png) no-repeat}.package_tit{font-size:24px;font-weight:bold;line-height:28px;overflow:hidden;height:28px;padding:0
9px;padding-top:155px;_display:inline-block}.package_tit
a{color:#704204}.package_art{line-height:20px;overflow:hidden;height:40px;margin-top:8px;padding:0
9px;color:#704204;_display:inline-block}.slide
.s_cur{position:absolute;right:20px;bottom:15px;display:inline-block;overflow:hidden;height:11px}.slide .s_cur
li{display:inline-block;float:left;overflow:hidden;padding-left:5px}.slide .s_cur li
span{display:block;width:11px;height:11px;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;border-radius:6px;background:#bae199}.slide .s_cur li
.on{width:21px;background:#baca2e}.slide .s_prve,.slide
.s_next{position:absolute;top:50%;display:block;width:57px;height:72px;margin-top:-36px;background:url(/fahao/img/tips.png) no-repeat}.slide
.s_prve{left:0;background-position:0 0}.slide .s_prve:hover{background-position:0 -80px}.slide
.s_next{right:270px;background-position:-61px 0}.slide .s_next:hover{background-position:-61px -80px}.page_bd
.hd{position:relative;height:34px}.page_bd .hd
h2{font-size:22px;font-weight:bold;line-height:34px;display:inline-block;overflow:hidden;height:34px;color:#343434}.page_bd .hd
.more{line-height:34px;position:absolute;top:0;right:0;display:block;height:34px;text-align:right}.package_box
.pb_lf{position:relative;float:left;width:168px;height:140px}.pb_lf
.icon{position:relative;float:left;width:80px;height:80px;margin:20px
0;padding:3px;border-radius:20px;background:#fff}.pb_lf .icon
.icon_ie{position:absolute;top:-7px;left:-7px;display:none;width:100px;height:100px;background:url(/fahao/img/icon_ie.png) no-repeat}.pb_lf
.icon_img{overflow:hidden;width:80px;height:80px;border-radius:15px;background:#fff;_display:inline-block}.pb_lf
img{display:block;width:100px;height:100px;margin:-10px 0 0 -10px}.pb_lf
.num{font-size:16px;line-height:28px;position:absolute;top:50%;right:16px;overflow:hidden;width:53px;height:57px;margin-top:-28px;text-align:center}.pb_lf .num
dt{color:#fe4936;border-bottom:1px solid #fe4936}.package_box
.pb_rt{float:left;width:220px}.pb_rt
.info{line-height:30px;overflow:hidden;height:60px;padding-top:26px}.pb_rt
.tit{font-size:18px;height:30px;overflow:hidden;}.pb_rt .tit
a{color:#343434}.pb_rt .tit a:hover{color:#fe4936}.pb_rt
.art{color:#929292}.pb_rt
.btn{overflow:hidden;padding-top:2px}.Btn{line-height:20px;display:block;float:left;width:50px;height:21px;text-align:center;border:1px
solid;border-radius:2px}.Btn.lq{color:#fe4936;border-color:#fe4936}.Btn.lq:hover{color:#fff;background:#fe4936}.Btn.th{color:#ffd12a;border-color:#ffd12a}.Btn.th:hover{color:#fff;background:#ffd12a}.Btn.zw{cursor:default;color:#8c8c8c;border-color:#8c8c8c}.Btn.zw:hover{cursor:default;color:#8c8c8c;border-color:#8c8c8c}.Btn.js{cursor:default;color:#fff;background:#8c8c8c}.Btn.js:hover{cursor:default;color:#fff;background:#8c8c8c}.h_package{overflow:hidden;margin-top:20px;padding:20px
20px 6px;background:#fff}.h_package .hd
h2{background-position:-267px -85px}.h_package
.bd{overflow:hidden;height:422px;_width:820px;*position:relative}.h_package .bd
ul{width:866px;margin-top:-1px}.h_package .bd
li{float:left;width:433px;height:140px;border-top:1px dotted #dcdcdc}.n_package{overflow:hidden;margin-top:20px;padding:20px
20px 6px;background:#fff}.n_package .hd
h2{background-position:-267px -145px}.n_package
.bd{overflow:hidden;height:422px;_width:820px;*position:relative}.n_package .bd
ul{width:866px;margin-top:-1px}.n_package .bd
li{float:left;width:433px;height:140px;border-top:1px dotted #dcdcdc}.recommend{overflow:hidden;margin-top:20px;padding:20px
20px 23px;background:#fff}.recommend
.hd{overflow:hidden;padding-bottom:12px}.recommend .hd
h2{background-position:-267px 5px}.recommend
.bd{_width:820px;_overflow:hidden}.recommend .bd
ul{width:840px}.recommend .bd
li{position:relative;display:inline;float:left;overflow:hidden;width:100px;height:125px;margin:0
3px 13px 0}.item-cont{display:block;height:113px;padding:9px
9px 0;text-align:center;border:1px
#fff solid}.item-cont
img{display:block;width:80px;height:80px;margin-bottom:6px;border-radius:12px}.item-cont .item-txt{font-size:12px;line-height:23px;height:23px;text-align:center}.down-link{line-height:23px;display:none;width:72px;height:23px;margin:0
auto;color:#fff;border-radius:2px;background-color:#fe4936}.recommend .bd .item-cont:hover{text-decoration:none;border-color:#ededed;background-color:#f6f6f6}.recommend .bd .item-cont:hover .item-txt{display:none}.recommend .bd .item-cont:hover .down-link{display:block}.eal_time{overflow:hidden;margin-top:20px;padding:10px;background:#fff}.eal_time
.hd{padding:11px
10px 10px;border-bottom:1px solid #dcdcdc}.eal_time .hd
h2{background-position:-267px -25px}.eal_time
.bd{position:relative;overflow:hidden;height:491px}.eal_time .bd
ul{position:absolute;top:0;left:0;width:300px}.eal_time .bd
li{overflow:hidden;height:48px;padding:17px
10px 18px;border-bottom:1px dotted #dcdcdc;_float:left}.eal_time .bd li
.fl{width:230px;cursor:default}.eal_time .bd li .fl
p{line-height:24px;overflow:hidden;height:24px;color:#343434}.eal_time .bd li .fl
span{padding:0
13px;color:#fe4936}.eal_time .bd li .fl
em{padding-left:12px;color:#ababab}.eal_time .bd li
.fr{padding-top:13px}.eal_time .bd li .fr
a{width:38px!important}.package_g{overflow:hidden;zoom:1;margin-top:20px;padding:21px
10px 10px;background:#fff;_padding:16px
10px 0}.package_g
.hd{padding:0
10px 9px}.package_g .hd
h2{background-position:-267px -115px}.package_g .hd
.hd_tab{position:absolute;top:7px;right:10px}.package_g .hd .hd_tab
span{font-size:12px;line-height:20px;display:block;float:left;width:20px;height:20px;margin-left:10px;cursor:pointer;text-align:center;color:#fff;border-radius:2px;background:#afafaf}.package_g .hd .hd_tab
.on{cursor:default;background:#fe4936}.package_g
.top_hd{line-height:38px;height:38px;padding:0
10px}.package_g .top_hd
.c{padding-left:60px}.package_g
li{zoom:1;border-top:1px dotted #dcdcdc;_margin-bottom:-2px}.package_g li
.l{float:left;width:15px;padding-right:10px}.package_g li .l
span{font-size:12px;line-height:15px;display:block;width:15px;height:15px;cursor:default;text-align:center;color:#fff;border-radius:2px;background:#c8c8c8}.package_g li .l
.g{background:#fe4936}.package_g li
.c{float:left;width:190px}.package_g li
.r{float:right;width:42px}.package_g li .r
a{width:40px!important}.package_g
.big{display:none;height:80px;padding:20px
10px}.package_g .big
.l{height:80px}.package_g .big .l
span{line-height:80px;height:80px}.package_g .big .c
img{display:block;float:left;width:80px;height:80px;padding-right:17px}.package_g .big .c
span{font-size:12px;line-height:20px;display:block;height:58px;padding-top:9px}.package_g .big .c span
a{font-size:18px;line-height:38px;display:block;overflow:hidden;width:93px;height:38px}.package_g .big
.r{padding-top:28px}.package_g
.sml{height:23px;padding:11px
10px;_padding:9px
10px}.package_g .sml
.l{height:23px;margin-top:4px}.package_g .sml
.c{font-size:16px;line-height:23px;overflow:hidden;height:23px;text-align:center}.package_g .on
.big{display:block}.package_g .on
.sml{display:none}.k_package{overflow:hidden;zoom:1;margin-top:20px;padding:20px
10px 10px;background:#fff;_padding:16px
10px 0}.k_package
.hd{padding:0
10px 9px}.k_package .hd
h2{background-position:-267px -55px}.k_package
.top_hd{line-height:38px;height:38px;padding:0
10px}.k_package .top_hd
.c{padding-left:60px}.k_package
li{zoom:1;margin-bottom:-2px;border-top:1px dotted #dcdcdc}.k_package li
.l{float:left;width:40px}.k_package li .l
span{font-size:12px;line-height:23px}.k_package li .l
.g{background:#76c336}.k_package li
.c{float:left;width:164px}.k_package li
.r{float:right;width:42px}.k_package li .r
a{width:40px!important}.k_package
.big{display:none;height:80px;padding:20px
10px}.k_package .big
.c{overflow:hidden;width:202px;height:80px}.k_package .big .c
img{display:block;float:left;width:80px;height:80px;margin-right:10px;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}.k_package .big .c
span{font-size:12px;line-height:20px;display:block;float:left;width:112px}.k_package .big .c span
a{font-size:18px;line-height:33px;display:block;overflow:hidden;width:112px;height:33px}.k_package
.sml{height:23px;padding:11px
10px}.k_package .sml
.c{font-size:16px;line-height:23px;overflow:hidden;height:23px;text-align:center}.k_package .on
.big{display:block}.k_package .on
.sml{display:none}.libao_menu{overflow:hidden;margin-top:20px;background:#fff}.menu_border{overflow:hidden;margin-top:-1px}.libao_menu
dl{line-height:49px;float:left;height:50px}.libao_menu
dt{font-size:18px;float:left;width:107px;height:49px;text-align:center;color:#fe4936;border:solid #e8e7ed;border-width:1px 1px 0 0}.libao_menu
dd{float:left;width:1092px;height:24px;padding:13px
0 12px;border-top:1px dotted #dcdcdc}.libao_menu dd
a{line-height:24px;display:inline-block;float:left;overflow:hidden;height:24px;margin:0
5px 0 13px;padding:0
7px}.libao_menu dd a:hover,.libao_menu dd
a.on{color:#fff;background:#fe4936}.libao_menu dd
a.on{cursor:default}.libao_menu dd
a.w{margin:0
5px 0}.libao_box{overflow:hidden;width:1180px;margin-top:20px;padding:0
10px;background:#fff}.libao_list{overflow:hidden;margin-top:-1px}.libao_list
ul{width:1182px}.libao_list
li{float:left;width:364px;height:140px;padding:6px
10px 7px 20px;border-top:1px dotted #dbdbdb}.libao_list li
.pb_rt{width:190px}.more_menu{overflow:hidden;width:1160px;margin-top:20px;padding:0
20px;background:#fff;position:relative;z-index:1}.more_menu
.m_hd{overflow:hidden;padding:20px
0}.all_Menu{height:29px;margin-bottom:20px;border:1px
solid #fe4936;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff}.all_Menu
a{font-size:14px;line-height:29px;position:relative;z-index:99;display:inline-block;float:left;width:42px;text-align:center;color:#fe4936}.all_Menu
.am_f{padding:0
7px}.all_Menu
a.on{cursor:default;text-decoration:none;color:#fff;background:#fe4936}.more_box{overflow:hidden;width:1180px;margin-top:20px;padding:0
10px;background:#fff}.more_list{overflow:hidden;margin-top:-1px}.more_list
ul{width:1182px}.more_list
li{float:left;width:364px;height:140px;padding:6px
30px 7px 0;border-top:1px dotted #dbdbdb}.more_list li
.pb_rt{width:190px}.Gamename
li{float:left;width:179px;height:25px;padding:5px
0 5px 14px}.Gamename li
a{font-size:14px;line-height:25px;display:inline-block;overflow:hidden;height:25px;padding:0
8px}.Gamename li a:hover{color:#fff;background:#fe4936}.Gamename li
.on{color:#fff;background:#fe4936}.fahao_hd{height:333px;background:url(/fahao/img/bg.jpg) center center}.fh_box{position:relative;zoom:1;width:989px;height:225px;margin:55px
0 52px 211px;background:url(/fahao/img/bg1k2.png) no-repeat}.fhb_lf{width:564px;height:190px;margin:16px
0 0 132px;border-right:1px solid #e1e1e1;_margin:16px
0 0 66px}.fhb_lf
h1{font-size:29px;font-weight:bold;line-height:60px;overflow:hidden;height:60px}.fhb_lf
dl{overflow:hidden;height:24px;padding-top:6px}.fhb_lf
dt{line-height:24px;float:left;width:68px;height:24px;text-align:center;color:#fff;background:#343434}.fhb_lf
dd{line-height:24px;float:left;overflow:hidden;width:485px;height:24px;padding-left:10px}.fhb_lf dd
p{display:inline;padding-left:20px}.fhb_lf dd
span{font-size:24px;font-weight:bold;float:left;color:#fe4936;line-height:24px}.fhb_lf dd
b{float:left;margin:8px
0 0 7px}.fhb_lf dd
a{line-height:24px;display:block;float:left;overflow:hidden;width:58px;height:24px;margin-right:10px;text-decoration:underline;color:#333}.fhb_rt{position:relative;width:155px;height:184px;padding:30px
68px 29px}.fhb_btn{display:block;width:155px;height:63px;text-indent:-99em;background:url(/fahao/img/tips.png?20150508) no-repeat 0 0}.fhb_btn.Ks{background-position:0 -220px!important}.fhb_btn.Js{background-position:0 -290px!important}.fhb_btn.Th{background-position:0 -360px!important}.fhb_btn.Lq{background-position:0 -430px!important}.fhb_btn.Yd{background-position:0 -501px!important}.fhb_btn.Wjlt{margin-top:20px;background-position:0 -574px!important}.clock_time{line-height:38px;position:absolute;bottom:24px;left:50%;width:206px;height:38px;margin-left:-103px;text-align:center;color:#fe4936}.fh_box
.pb_num{font-size:24px;font-weight:bold;line-height:34px;position:absolute;top:75px;left:0;overflow:hidden;width:90px;height:74px;text-align:center}.fh_box .pb_num
dt{float:left;width:90px;height:34px;padding-bottom:6px;color:#fe4936}.fh_box .pb_num
dd{float:left;width:90px;height:34px}.fh_ico{position:absolute;z-index:99;top:67px;left:11px;width:200px;height:200px;_top:81px}.fh_ico .icon-box-ie{position:absolute;z-index:100;top:0;left:0;display:none;width:200px;height:200px;background:url(/fahao/img/icon-box-ie.png) no-repeat}.fh_ico .icon-box-ie.cover{background-position:-600px -600px}.fh_ico .icon-box-ie.c1{background-position:-400px -600px}.fh_ico .icon-box-ie.c2{background-position:-200px -600px}.fh_ico .icon-box-ie.c3{background-position:0 -600px}.fh_ico .icon-box-ie.c4{background-position:-400px -400px}.fh_ico .icon-box-ie.c5{background-position:-200px -400px}.fh_ico .icon-box-ie.c6{background-position:0 -400px}.fh_ico .icon-box-ie.c7{background-position:-400px -200px}.fh_ico .icon-box-ie.c8{background-position:-200px -200px}.fh_ico .icon-box-ie.c9{background-position:0 -200px}.fh_ico .icon-box-ie.c10{background-position:-400px 0}.fh_ico .icon-box-ie.c11{background-position:-200px 0}.fh_ico .icon-box-ie.c12{background-position:0 0}.fh_ico
.icon{position:absolute;z-index:99;top:12px;left:12px;width:166px;height:166px;padding:5px;}.fh_ico .icon-inner{overflow:hidden;width:166px;height:166px;-webkit-transform:translateZ(0);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-mask-image:-webkit-radial-gradient(circle,#fff 100%,#000 100%)}.fh_ico .icon-inner
img{display:block;width:176px;height:176px;margin:-5px 0 0 -5px}.fh_ico
.cycle{position:relative;overflow:hidden;width:200px;height:200px;border-radius:100px;background:#eee;_background:#fe4936}.fh_ico .cycle
.c_b{position:absolute;z-index:99;top:0;left:0;clip:rect(100px 200px 200px 0px);width:200px;height:200px;background:#fe4936}.fh_ico .cycle
.c_tp{position:absolute;z-index:99;top:-2px;left:-2px;clip:rect(102px 204px 204px 0px);width:204px;height:204px;transform:rotate(180deg);background:#eee}.fh_ico .cycle
.c_bt{position:absolute;z-index:99;top:0;left:0;clip:rect(100px 200px 200px 0px);width:200px;height:200px;transform:rotate(-145deg);background:#fe4936}.fahao_bd
.m{position:relative}.fahao_bd
.hd{position:relative;height:30px;padding-bottom:4px}.fahao_bd .hd
h2{font-size:20px;font-weight:bold;line-height:30px;display:block;display:inline-block;float:left;overflow:hidden;height:30px;color:#343434}.fahao_bd
.bd{font-size:16px;line-height:30px;position:relative;overflow:hidden;height:auto;min-height:110px;padding:9px
0 22px;border-bottom:1px dotted #dcdcdc;_height:110px}.fahao_bd .hd
.more{line-height:32px;display:block;float:left;overflow:hidden;height:30px;padding-left:25px}.package_eq{position:absolute;top:25px;right:40px;width:214px;background:#fff}.package_info{min-height:85px;padding:25px
30px 0;background:#fff}.package_info
.hd{width:1200px}.package_info .hd
h2{background-position:-267px -205px}.package_info
.bd{zoom:1;width:1100px;padding-right:20px}.package_info .bd
p{}.qm_package{position:absolute;top:75px;right:290px;width:282px;height:107px;background:url(/fahao/img/libao.jpg) no-repeat}.package_shiyong{padding:25px
30px 0;background:#fff}.package_shiyong
.hd{width:1200px}.package_shiyong .hd
h2{background-position:-267px -231px}.package_shiyong
.bd{overflow:hidden;zoom:1;width:1100px;padding-right:20px}.package_shiyong
dl{line-height:24px;float:left;overflow:hidden;width:1100;padding:8px
0}.package_shiyong
dt{line-height:20px;float:left;width:20px;height:20px;margin:2px
0;text-align:center;color:#fff;border-radius:10px;background:#fe4936}.package_shiyong
dd{float:left;width:820px;padding-left:10px}.package_shiyong dd
a{text-decoration:underline;color:#fe4936}.package_xiangguan{padding:25px
30px 0;background:#fff}.package_xiangguan .hd
h2{background-position:-267px -291px}.package_xiangguan
.bd{overflow:hidden;zoom:1;border-bottom:0}.package_xiangguan
ul{width:1164px}.package_xiangguan
.package_box{float:left}.fahao_pinglun{width:1140px;margin-top:20px;padding:30px;background:#fff}.fahao_pinglun
.hd{position:relative;height:30px;padding-bottom:4px}.fahao_pinglun .hd
h2{font-size:20px;font-weight:bold;line-height:30px;display:block;display:inline-block;float:left;overflow:hidden;height:30px;color:#343434}.lstpage{overflow:hidden;height:40px;padding:40px
0 40px;text-align:center}.lstpage
a{font-family:'Tahoma','Arial';font-size:14px;line-height:35px;display:inline-block;overflow:hidden;height:35px;margin-left:5px;padding:0
18px;color:#6a6a6a;border:1px
solid #e4e4e4;background:#fff}.lstpage a:hover{text-decoration:none;color:#6a6a6a;background:#f2f2f2}.lstpage
a.p_hov{color:#fff;border-color:#fe4936;background:#fe4936}.lstpage .next,.lstpage
a.prve{font-family:'\5FAE\8F6F\96C5\9ED1'}b.egg{display:block;width:14px;height:16px;background:url(/fahao/img/tips.png) no-repeat;background-position:-230px -477px}.navigation{font-size:14px;line-height:20px;height:20px;margin:8px
0 8px 3px;margin-left:0px;padding-left:22px;color:#a5a5a5;background:url(/fahao/img/fh_tips.png) no-repeat -321px -250px}.navigation
a{color:#a5a5a5}.navigation a:hover{text-decoration:underline;color:#333}.navigation
.no{color:#333}.package_eq .eq_txt
p{padding-top:5px}.package_info
.flb{width:448px;padding-right:432px;word-wrap:break-word}.flb_package{position:absolute;top:25px;right:290px;width:412px;height:161px;background:#fff}.flb_package
img{display:block;width:412px;height:161px}

.topbar{margin: 0 auto; background:#f4f4f4;}
.area,#ular{width:1200px;margin: 0 auto; }

/*footer*/
.footer { margin-top: 50px; background: #222; padding: 28px 0; }
.footer p { line-height: 24px; font-size: 12px; color: #464646; text-align: center; }
.footer p a { color: #464646; margin: 0 8px; }
.footer p a:hover { color: #f90; text-decoration: underline; }